html {
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    background: linear-gradient(rgb(91, 171, 202), rgb(43, 65, 131));
    justify-content: center;
}

footer {
    background-color: white;
}

#aboutme, #projects {
    justify-content: center;
    text-align: center;
    background-color: white;
    padding: 1%;
    margin: 2%;
}
#contact-col {
    background-color: white;
    padding: 1%;
    margin: 2%;
}

#contact-title {
    text-align: center;
    justify-content: center;
}

img {
    width: 20%;
    height: 200px;
}