.card {
    background-size: cover;
    background-position: center;
    background-clip: content-box;
    border: 6px solid white;
    height: 300px;
    width: 250px;
    position: relative;
    margin: 0 auto;
    margin-top: 30px;
}
  
button {
    border-radius: 10px;
    border: 2px solid black;
    padding: 8px;
    background-color: white;
}
